.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.dart_tool/package_config.json
example/.flutter-plugins-dependencies
example/.dart_tool/package_config.json
example/ios/Flutter/flutter_export_environment.sh
